body > div.title-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: calc(12px + 3.5vw);
   font-weight: 600;
   border: 1px solid black;
   display: flex;
   align-items: flex-end;
 }
 
body > div.title-container > div.title-character {
   border: 1px solid black;
   transform: matrix(1, 0, 0, 0.5, 0, 0);
}
 
@media only screen and (max-width: 254px) {
   body > div.title-container {
      font-size: calc(6px + 3.5vw);
   } 
}
 
@media only screen and (min-width: 319px) and (max-width: 381px) {
   body > div.title-container {
      font-size: calc(10px + 3.5vw);
   }  
}
 
@media only screen and (min-width: 255px) and (max-width: 318px) {
   body > div.title-container {
      font-size: calc(8px + 3.5vw);
   } 
}